@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #111827;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#links li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

#links li a:hover {
    background: rgb(224, 221, 221);
    color: #111827;
    border-radius: 5px;
    transition: 0.3s;
}

#login_cadastro_btn {
    display: flex;
    gap: 20px;
    align-items: center;
}

#login_cadastro_btn button {
    cursor: pointer;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#login_btn {
    padding-top: 10px;    
    padding-bottom: 10px;
    border-radius: 8px;
    border-color: #ffffff;
    border-style: solid;
    background-color: transparent;
    color: #ffffff;
}

#login_btn:hover {
    background-color: #ffffff;
    color: #111827;
    transition: 0.3s;
}

#cadastro_btn {
    padding-top: 14px;    
    padding-bottom: 14px;
    border-radius: 8px;
    border: solid;
    background-color: #ffffff;
    color: #111827;
}

#cadastro_btn:hover {
    background-color: transparent;
    color: #ffffff;
    border: solid;
    transition: 0.3s;
}

main {

}

/* Estilização dos "modais" (na verdade são divs que representam uam caixa em que a cor do fundo varia um pouco) */
#modal_principal {
    background-color: #f5f5f5;
    box-shadow: #787c85 10px 0.2px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 30px;
    position: relative;
    z-index: 10;
}

#texto_modal_principal {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#texto_modal_principal h1 {
    font-size: 2.0em;
    color: #111827;
}

#texto_modal_principal p {
    font-size: 1.2em;
    font-weight: lighter;
    color: #333232
}

#modal_secundario {
    padding: 50px 50px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: white;
}

#texto_modal_secundario {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 5px;
}
/*------------------ Fim estilização dos "modais" ------------------*/




/* Certificados */
.texto_emissao_certificado {
    font-size: 1.0em;
    color: #8b8e92;
    margin-top: 5px;
}

section.certificados {
    background-color: #f5f5f5;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 240px;
    border-color: #11182721;
    border-style: solid;
    border-top: 0cap;
    
}

#titulo_certificados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_certificado {
    display: flex;
    flex-direction: column;
}

.card_certificado {
    width: 1035px;
    height: 100px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    border: 1px solid #ccc;
    padding: 15px;
    gap: 20px;
    align-items: center;
}

.ver_certificado_btn {
    font-size: 18px;
    width: 169px;
    height: 57px;
    padding: 10px 15px;
    margin: 0px 0px 0px auto;
    border-radius: 8px;
    border: solid;
    background-color: #111827;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.card_certificado img{
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 25px;
    object-fit: cover; 
}

#h1_certificados {
    font-size: 48px;
    color: #111827;
    margin-bottom: 10px;
}

#container_certificados{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*---------------------------------- Fim certificados ----------------------------------*/

/*Estilização dos modais de overlay*/
.modal_overlay {
    
    display: none; 
    
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; 
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


.modal_overlay.mostrar {
    display: flex;
}

.modal_header{
    background: #111827;
    background: linear-gradient(90deg, rgba(17, 24, 39, 1) 0%, rgba(61, 87, 141, 1) 100%);
    height: 89px;
    margin: -40px -40px 0 -40px; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center; 
    padding-left: 25px; 
}

.modal_header h2{
    color: white;
    font-size: 40px;
}


.modal_content {
    background-color: white;
    width: 90%; 
    max-width: 1107px; 
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative; 
    animation: surgimento 0.3s ease-out;
    height: 547px;
}

.close_btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.2s;
}

.close_btn svg:hover {
    fill: #000;
}

.modal_body{
    display: flex;
}

.modal_text_info{
    margin-top: 40px;
    margin-left: 70px;
}

#selecao_idioma {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

#selecao_idioma h4 {
    margin: 0; 
    font-size: 1.2em;
}

.container_opcoes {
    display: flex;
    flex-direction: row; 
    gap: 30px; 
}

.opcao {
    display: flex;
    align-items: center; 
    gap: 8px; 
    cursor: pointer;
}

.opcao label {
    cursor: pointer;
}

#selecao_idioma input[type="radio"] {
    appearance: none;
    -webkit-appearance: none; 
    width: 20px;
    height: 20px;
    border: 2px solid #8b8e92; 
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: all 0.2s ease-in-out;
}


#selecao_idioma input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white; 
    transform: scale(0); 
    transition: 0.2s transform ease-in-out;
    box-shadow: inset 1em 1em white; 
}

#selecao_idioma input[type="radio"]:checked {
    background-color: #111827; 
    border-color: #111827;     
}

#selecao_idioma input[type="radio"]:checked::before {
    transform: scale(1);
}

#compartilhar{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

#compartilhar h4{
    font-size: 1.2em;
}

#copy_link{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

#copy_link h5{
    font-size: 18px;
    font-weight: normal;
}

#link_copy_link{
    display: flex;
    gap: 10px;
    background-color: #3B5488;
    color: white;
    align-items: center;
    border-radius: 10px;
    width: 470px;
    height: 34px;
    gap: 80px;
}

#link_copy_link h6{
    margin: 15px;
    font-size: 13px;
}

#social_media{
    display: flex;
    gap: 60px;
    margin-top: 15px;
}

#social_media h5{
    font-size: 18px;
    font-weight: normal;
}

#social_media_icons{
    display: flex;
    gap: 40px;

}

.modal_img {
    width: 430px;
    height: 256px; 
    margin-top: 45px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.modal_body h3 {
    margin-bottom: 10px;
    color: #111827;
}

.modal_footer {
    margin-left: 30px;
    margin-top: 50px;
    gap: 30px;
    text-align: right;
    display: flex;
}

.btn_download {
    padding: 10px 20px;
    background-color: #111827;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;          
    align-items: center;    
    justify-content: center;
    gap: 15px;              
    font-size: 16px;        
    font-weight: bold;
    transition: background 0.2s; 
}

.btn_download svg {
    width: 20px;
    height: 20px;
}

.btn_download:hover {
    background-color: #374151;
}

.btn_email {
    padding: 10px 20px;
    background-color: #7d828d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;          
    align-items: center;    
    justify-content: center;
    gap: 15px;              
    font-size: 16px;        
    font-weight: bold;
    transition: background 0.2s; 
}

.btn_email svg{
    width: 20px;
    height: 20px;
}


@keyframes surgimento {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
/*------------------------- Fim modais de overlay -------------------------*/


/* Estilização da div que cuida da foto de perfil com a setinha */

#func_perfil{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

#seta_perfil{
    
}

#circulo_perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#imagem_perfil {
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
}

/*--------------- Fim da estilização da div que cuida da foto de perfil com a setinha  ---------------*/

#sequencia_cursos {
    margin-top: 40px;
    padding-bottom: 10px;
    display: flex;
    gap: 50px;
    border-bottom: solid;
    border-color: #111827;
}

#sequencia_cursos a {
    text-decoration: none;
}

#sequencia_cursos p:hover {
    color: #111827;
    transition: 0.3s;
    transform: scale(1.02);
}

#container_cards_cursos {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px
}

.card_curso {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 0.05em solid #dfe0e2; /* Sintaxe curta de border */
    border-radius: 10px;
    box-shadow: -10px 10px 5px rgb(209, 208, 208);
    cursor: pointer;
    background-color: white; /* Garante fundo branco se sobrepor algo */
    transition: transform 0.2s;
}

.card_curso:hover {
    box-shadow: 0px 1px 12px rgb(173, 171, 171);
    transition: 0.3s;
    transform: scale(1.03);
}

.card_curso {
    transition: 0.3s;
}

.card_curso img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Opcional: arredonda a imagem levemente */
    object-fit: cover;
}

.card_curso p {
    font-weight: bold;
    font-size: 1.0em;
}

#atributos_card {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    align-items: flex-start;
}

#atributos_card p {
    padding: 2px 10px;
    font-size: 0.8em;   
}

#atributos_primarios {
    display: flex;
    gap: 20px;
    padding-top: 7px;
}

#em_alta {
    border-width: 0.15em;
    border-style: solid;
    border-color: #f519198a;
    background-color: #ff9e9e8f;
    border-radius: 40px;    
}

#nota {
    border-width: 0.15em;
    border-radius: 40px;
    border-style: solid;
    border-color: #ffe600;
    background: #ffeda4;
}

#avaliacoes {
    border-width: 0.15em; 
    border-radius: 40px;
    border-style: solid;
    border-color: #c0c2c7;
}

#preco {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-top: 10px;   
    justify-content: left;    
    align-items: center;
}

#preco del {
    font-size: 1.0em;
    color: gray;
}

#preco p {
    color: #111827;
    font-size: 1.2em;
    font-weight: bold;
}

#video_home {
    max-width: 65%;
}

.span_texto {
    color: #111827;
    font-weight: bold;
}


#modal_terciário {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    background-color: #111827;
}
#texto_modal_terciario_aside_esquerdo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 40px;
    gap: 50px;
}
    
#textos_modal_terciario {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 20px;
}

#textos_modal_terciario h2 {
    font-size: 2.3em;
    color: #ffffff;
}

#textos_modal_terciario p {
    font-size: 1.2em;
    font-weight: lighter;
    color: #d1d5db;
    text-align: left;
}

#saiba_mais {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#saiba_mais p {
    color: floralwhite;
    font-weight: lighter;
    font-size: smaller;
    align-items: center;
}

#texto_modal_terciario_aside_esquerdo button {
    padding: 15px 25px;
    width: fit-content;
    font-size: 1.3em;
    font-weight: lighter;
    border-radius: 8px;
    border: solid;
    background-color: #ffffff;
    color: #111827;
    cursor: pointer;
}

#texto_modal_terciario_aside_esquerdo button:hover {
    background-color: #111827;
    color: #ffffff;
    transition: 0.3s;
} 

#texto_modal_terciario_aside_direito {
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal_quaternario {
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    flex-direction: column;
}

#modal_quaternario h2 {
    font-size: 2.0em;
    color: #111827;
    margin-bottom: 20px;
}

#modal_quaternario p {
    font-size: 1.2em;
    font-weight: lighter;
    color: #333232;
}

#container_cards_comentarios {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#card_comentario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    gap: 15px;
    background-color: #e6eaee;
    padding: 20px;
}

#card_comentario p {
    font-size: 1.0em;
    color: #111827;
}

#perfil_comentario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

#imagem_perfil {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #4a505eb2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#nome_ {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#nome_ p:nth-child(1) {
    font-weight: normal;
    font-size: 1.1em;
}

#nome_ p:nth-child(2) {
    font-size: 0.9em;
    color: #555555;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #111827;
    padding: 20px 0px 20px 0px;
    gap: 20px;
}

#links_rodape ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#links_rodape li {
    padding: 5px 0;
    color: #ffffff;
}

#links_rodape a {
    text-decoration: none;
    color: inherit;
}

#links_rodape a:hover {
    text-decoration: underline;
}

#info_rodape {
}

#info_rodape p {
    
    color: #ffffff;
}




.faded_paragraph_for_h1_title {
   color: #7d828d;
   font-size: 24px;
   font-weight: normal;
   padding: 0px 10px;
   margin-bottom: 100px;
}

.faded_paragraph_for_h1_title {
   color: #7d828d;
   font-size: 24px;
   font-weight: normal;
   padding: 0px 10px;
   margin-bottom: 100px;
}

h2 {
    font-size: 1.8em;
    color: #111827;
}

p {
    font-size: 1.2em;
    font-weight: lighter;
    color: #333232;
}