@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Menu */

header {
    background-color: #111827;
    position: relative;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#links li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

#links li a:hover {
    background: rgb(224, 221, 221);
    color: #111827;
    border-radius: 5px;
    transition: 0.3s;
}

#login_cadastro_btn {
    display: flex;
    gap: 20px;
    align-items: center;
}

header.modo-logado #func_perfil {
    display: flex;
}

header.modo-logado #login_cadastro_btn {
    display: none;
}

#login_cadastro_btn button {
    cursor: pointer;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#login_btn {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border-color: #ffffff;
    border-style: solid;
    background-color: transparent;
    color: #ffffff;
}

#login_btn:hover {
    background-color: #ffffff;
    color: #111827;
    transition: 0.3s;
}

#cadastro_btn {
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 8px;
    border: solid;
    background-color: #ffffff;
    color: #111827;
}

#cadastro_btn:hover {
    background-color: transparent;
    color: #ffffff;
    border: solid;
    transition: 0.3s;
}

main {}

#func_perfil {
    position: relative;
    display: none;
    gap: 25px;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 1.5em;
}

#func_perfil.ativo .menu_dropdown {
    display: block;
    animation: menuFade 0.2s ease-out;
}

.menu_dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.menu_dropdown.ativo {
    display: block;
    animation: menuFade 0.2s ease-out;
}

.menu_dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_dropdown li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: background 0.2s;
}

.menu_dropdown li a:hover {
    background-color: #f1f1f1;
}

@keyframes menuFade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#seta_perfil {
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transform-origin: center;
    box-sizing: border-box;
}

#func_perfil.ativo #seta_perfil {
    background-color: white;
    color: #111827;
    transform: rotate(180deg);
}

#circulo_perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

#imagem_perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Titulo */

.title-bar {
    width: 100%;
    background: #FAFAFA;
    min-height: 80px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.title-content {
    width: 60%;
    padding-left: 0;
}

.title-bar h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #111827;
}

.title-bar .subtitle {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0 0 0;
    padding: 0;
    color: #111827;
}

/* Questões */

.container-questions {
    max-width: 1200px;
    width: 60%;
    margin: auto;
}

.questions {
    margin-bottom: 0px;
}

.questions-multiple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.questions .questions-title {
    font-size: 24px;
    margin-bottom: 15px;
    display: block;
    line-height: 30px;
}

.questions p {
    font-size: 18px;
    margin: 0;
    line-height: 20px;
    color: #111827;
}

.divider {
    border-bottom: 1px solid #ddd;
    margin: 25px 0;
}

/* Opções */

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
    justify-content: space-between;
}

.options label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    font-weight: bold;
    color: #111827;
    flex: 1 1 45%;
    min-width: 150px;
    text-align: center;
}

.options label:hover {
    border-color: #111827;
    background-color: #f9f9f9;
    color: #333;
}

.options label.selected {
    background-color: #111827;
    color: #fff;
    border-color: #111827;
}

.options label.selected:hover {
    background-color: #111827;
    color: #fff;
    border-color: #111827;
}

.options input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* finalizar */

.button-container {
    max-width: 1200px;
    margin: 30px auto 50px auto;
    display: flex;
    justify-content: flex-end;
}

.finish-button {
    background-color: #111827;
    color: #ffffff;
    border: none;
    border-radius: 5px;

    padding: 10px 50px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;

    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.finish-button:hover {
    background-color: #343a40;
}

.finish-button:active {
    background-color: #1a1e22;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* Resultado */

.review-item {
    margin-bottom: 20px;
    padding: 0;

}

.review-item p strong {
    font-weight: bold;
}

.feedback-question {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: default;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin: 15px 0;
}

.feedback-question.correta {
    background-color: #5cb85c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.feedback-question.errada {
    background-color: #d9534f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.correct-question-text {
    color: #5cb85c;
    font-weight: bold;
}

.user-question-text {
    color: #d9534f;
    font-weight: bold;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #111827;
    padding: 20px 0px 20px 0px;
    gap: 20px;
}

#links_rodape ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#links_rodape li {
    padding: 5px 0;
    color: #ffffff;
}

#links_rodape a {
    text-decoration: none;
    color: inherit;
}

#links_rodape a:hover {
    text-decoration: underline;
}

#info_rodape {}

#info_rodape p {

    color: #ffffff;
}