@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1:#FFFFFF ;
    --cor2:#F5F5F5 ;
    --cor3:#9CA3AF ;
    --cor4:#BCBCBC ;
    --cor5:#111827 ;
    --cor6:#061F55 ;

    --fonte-Principal:arial;
}

body {
    font-family: 'Inter', Arial, sans-serif;
}

/*
*******************************************
ESTILIZAÇÃO DO CABEÇALHO
*******************************************
*/

header {
    background-color: #111827;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.281);
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#links li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

#links li a:hover {
    background: rgb(224, 221, 221);
    color: #111827;
    border-radius: 5px;
    transition: 0.3s;
}

#login_cadastro_btn {
    display: flex;
    gap: 20px;
    align-items: center;
}

header.modo-logado #func_perfil{
    display: flex;
}

header.modo-logado #login_cadastro_btn{
    display: none;
}

#login_cadastro_btn button {
    cursor: pointer;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#login_btn {
    padding-top: 10px;    
    padding-bottom: 10px;
    border-radius: 8px;
    border-color: #ffffff;
    border-style: solid;
    background-color: transparent;
    color: #ffffff;
}

#login_btn:hover {
    background-color: #ffffff;
    color: #111827;
    transition: 0.3s;
}

#cadastro_btn {
    padding-top: 14px;    
    padding-bottom: 14px;
    border-radius: 8px;
    border: solid;
    background-color: #ffffff;
    color: #111827;
}

#cadastro_btn:hover {
    background-color: transparent;
    color: #ffffff;
    border: solid;
    transition: 0.3s;
}

/*
**********************************************
ESTILIZAÇÃO DO CONTEÚDO PRINCIPAL
**********************************************
*/
main {
    position: relative;
    z-index: 1;
    background-color: var(--cor2);
}

strong {
    color: #111827;
    font-weight: 800;
}

 h2 {
    color: #111827;
    font-weight: 900;
    text-align: center;
    font-size: 2.2em;
    padding: 20px;
}

h3 {
    color: var(--cor5);
    font-size: 1.7em;
    margin-left: 70px;
}

.conteudo_principal {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.281);
    padding: 10px;
}

.resumo_aula {
    text-align: justify;
    font-size: 1.4em;
    margin: 20px 70px;
    line-height: 1.9em;
    padding: 5px;
}

div.video {
    display: flex;
    justify-content: center;
}

hr {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    color: var(--cor3);
    border: 1.5px solid;
}

main section:last-of-type {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

main section:last-of-type div {  
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    flex: 1;              

    margin: 30px;       
}

.btn_anterior {
    padding: 50px;
    background-color: var(--cor6);
    color: var(--cor2);
    font-weight: 700;
}

.btn_marcar_concluida {
    background-color: var(--cor2);
    font-weight: 500;
    text-decoration: underline;
}

.btn_proxima {
    background-color: var(--cor6);
    color: var(--cor2);
    font-weight: 700;
}

.container-video {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}

.container-video .video {
    flex: 2;
}

.sidebar {
    flex: 0.7;
    background: #fff;
    border-radius: 8px 0px 0px 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.356);
    border-right: 0px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.356);
}

.sidebar h3 {
    font-weight: 500;
    font-size: 1.3em;
    background-color: #1f4597;
    color: var(--cor2);
    width: fit-content;
    margin: 0px;
    margin-bottom: 5px;
    border-radius: 8px 0px 8px 0px;
    width: fit-content;
    padding: 7px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.356);
}

.sidebar hr {
    width: 70%;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 8px;
    color: rgb(194, 194, 194);
    border: 1px solid;
}

.sugestao {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.sugestao img {
    width: 120px;
    border-radius: 6px;
    margin: 10px;
}

.sugestao p {
    font-size: 0.9em;
    font-weight: 600;
    color: #111827;
    margin-top: 35px;
    text-align: left;
}
/*
---------------------------------------
ESTILIZAÇÃO DO RODAPÉ
---------------------------------------
*/

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #111827;
    padding: 20px 0px 20px 0px;
    gap: 20px;
}

#links_rodape ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#links_rodape li {
    padding: 5px 0;
    color: #ffffff;
}

#links_rodape a {
    text-decoration: none;
    color: inherit;
}

#links_rodape a:hover {
    text-decoration: underline;
}

#info_rodape p {
    color: #ffffff;
}

/*ESTILIZAÇÃO DO PERFIL*/
#func_perfil{
    margin-right: 3%;
    position: relative;
    display: none;
    gap: 25px;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 1.5em;
}

.menu_dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: -50px;
    
    background-color: white;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
    z-index: 100;
    overflow: hidden;
    padding: 8px; 

    flex-direction: column; 
}

.menu_dropdown.ativo {
    display: block;
    animation: menuFade 0.2s ease-out;
}


.menu_item {
    display: flex; 
    align-items: center; 
    gap: 12px;         
    
    text-decoration: none;
    color: #111827;
    padding: 12px;
    border-radius: 8px; 
    transition: background 0.2s;
}

.menu_item:hover {
    background-color: #f3f4f6;
}

.icone {
    font-size: 1.2em;
    width: 40px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column; 
}

.titulo {
    font-weight: 500;
    font-size: 14px;
}

.subtitulo {
    font-size: 12px;
    color: #8b8e92;
}

.menu_divider {
    height: 1px;
    background-color: #e5e7eb;
    margin: 8px 0; 
}


.item_sair:hover {
    background-color: #fee2e2; 
    color: #ef4444;            
}

#func_perfil.ativo .menu_dropdown {
    display: flex; 
    animation: menuFade 0.2s ease-out;
}

#prof_menu{
    color: #111827;
    display: flex;
    margin: 5px 10px 5px;
}

#prof_button{
    font-size: 12px;
    width: 100px;
    border: 2px;
    height: 35px;
    margin-left: 18%;
    font-weight: 800;
    background-color: #111827;
    color: #d1d5db;
    border-radius: 8px;
    cursor: pointer;
}

#prof_button:hover{
    background-color: #374151;
}

#info_usuario{
    margin-left: 5%;
}

#nome_usuario{
    font-size: 16px;
}

#nome_usuario_id{
    font-size: 15px;
    color: #11182780;
}

@keyframes menuFade {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

#seta_perfil{
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transform-origin: center;
    box-sizing: border-box;
}

#func_perfil.ativo #seta_perfil{
    background-color: white;
    color: #111827;
    transform: rotate(180deg);
}

#circulo_perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#imagem_perfil {
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
}

.questions_redirect {
    background-color:#BCBCBC;
}

.questions_redirect a{
    text-decoration: none;
    color: #061F55;
}