@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1:#FFFFFF ;
    --cor2:#F5F5F5 ;
    --cor3:#9CA3AF ;
    --cor4:#BCBCBC ;
    --cor5:#111827 ;
    --cor6:#061F55 ;

    --fonte-Principal:arial;
}

/*
*******************************************
ESTILIZAÇÃO DO CABEÇALHO
*******************************************
*/

header {
    background-color: #111827;    
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#links li a {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
}

#links li a:hover {
    background: rgb(224, 221, 221);
    color: #111827;
    border-radius: 5px;
    transition: 0.3s;
}

#login_cadastro_btn {
    display: flex;
    gap: 20px;
    align-items: center;
}

#login_cadastro_btn button {
    cursor: pointer;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#login_btn {
    padding-top: 10px;    
    padding-bottom: 10px;
    border-radius: 8px;
    border-color: #ffffff;
    border-style: solid;
    background-color: transparent;
    color: #ffffff;
}

#login_btn:hover {
    background-color: #ffffff;
    color: #111827;
    transition: 0.3s;
}

#cadastro_btn {
    padding-top: 14px;    
    padding-bottom: 14px;
    border-radius: 8px;
    border: solid;
    background-color: #ffffff;
    color: #111827;
}

#cadastro_btn:hover {
    background-color: transparent;
    color: #ffffff;
    border: solid;
}

/*
**********************************************
ESTILIZAÇÃO DO CONTEÚDO PRINCIPAL
**********************************************
*/

